.themeButton {
    opacity: 0.65;
    transition: 1s;
    position: fixed;
    left: calc(97% - 45px);
    top: calc(95% - 45px);
    width: 45px;
    height: 45px;
}
  
.themeButton:hover {
    opacity: 1;
    cursor: pointer;
}
  
  